* {
	margin: 0;
	padding: 0;
	font-family: 'Courier New', Courier, monospace;
	box-sizing: border-box;
}
body {
	background: #222;
}
.weather_card {
	margin: 5% auto;
	padding: 20px;
	width: 90%;
	max-width: 470px;
	background: linear-gradient(135deg, #4f6f52, #5c5470);
	border-radius: 15px;
	color: #fff;
	-webkit-box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
}
.weather_search {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.weather_search input {
	padding: 10px;
	width: 100%;
	height: 50px;
	border: 0;
	outline: 0;
	border-radius: 40px;
	background: #fff;
	-webkit-box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
}
.weather_search button {
	width: 60px;
	height: 50px;
	border: 0;
	outline: 0;
	border-radius: 50%;
	cursor: pointer;
	background: #fff;
	-webkit-box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
}
.weather_search button:hover{
	background: #668969;
}
.weather_search img {
	padding: auto;
	width: 25px;
}
.error{
	margin: 10px;
	padding: 10px;
	padding-top: 30px;
	text-align: center;
	color: #fff;
	font-size:30px;
	font-weight:bold;
	display: none;
}
.weather{
	display: none;
}
.weather_info {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.weather_info img {
	align-items: center;
	width: 200px;
}
.weather_info h1 {
	margin:10px;
	font-size: 70px;
	font-weight: bold;
}
.weather_info h2 {
	margin:10px;
	font-size: 50px;
	font-weight: 400;
}
.weather_details {
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 60px;
}
.weather_details .col {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
}
.weather_details img {
	width: 60px;
}
